/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 100px;
}

.advertise {
	margin-bottom: 50px;
}
.adv-block {
	display: inline-block;
	max-width: 720px;
	height: 150px;
	margin: 0 10px;
	border-left: 4px solid #0082C9;

}
.adv-block_img {
	display: table-cell;
	width: 150px;
	height: 150px;
	padding-left: 10px;
}
.adv-block_img img {
	width: 100%;
	height: auto;
}
.adv-block_text {
	display: table-cell;
	padding-left: 35px;
	vertical-align: top;
}
.adv-block_text a {
	font-weight: bold;
	text-decoration: underline;
}
.adv-block_text a:hover {
	color: #034054;
	text-decoration: none;
}
.block-text_title {
	display: block;
    margin-bottom: 6px;
	font-size: 22px;
	color: #0082C9;
}
.block-text_desc {
	display: block;
    margin-bottom: 6px;
	font-size: 18px;
	color: #000;
	line-height: 26px;
}
.block-text_price {
	display: inline-block;
	margin-right: 6px;
	font-size: 18px;
	color: #0082C9;
}
.block-text_more {
	display: inline-block;
	font-size: 18px;
	color: #0082C9;
}
.block-text_link {
	display: block;
    margin-top: 10px;
	font-size: 18px;
	color: #8b8b8b;
}

.advertise-double .adv-block {
	margin-bottom: 20px;
}

.btn-select {
    display: inline-block;
    position: relative;
    padding: 0;
    width: 120px;
    height: 40px;
    vertical-align: middle;
    border: 1px solid #fff;
    cursor: pointer;
}
.btn-select .btn-select-value {
    padding: 0 10px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 37px;
    z-index: 1;
    text-align: left;
    text-overflow: ellipsis;
}
.btn-select .btn-select-arrow {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 23px;
    height: 40px;
    padding: 0 10px;
}
.btn-select .btn-select-arrow i {
    position: relative;
    display: block;
    top: 16px;
    right: -5px;
    width: 17px;
    height: 9px;
    background: url(../../../../shop/assets/images/arrow-sprites.png) no-repeat;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}
.btn-select ul {
    display: none;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 40px;
    padding: 0;
    margin: 0;
    clear: both;
    z-index: 999;
    background: #918f8c;
    border: 1px solid #fff;
    border-top: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.btn-select.is-open ul {
    display: block;
}
.btn-select ul li {
    text-align: left;
}
.btn-select ul li.selected {
    background: #aaa;
}
.btn-select ul li img {
    display: block;
    padding: 5px 10px;
}