* {
  padding: 0;
  margin: 0;
  line-height: 1;
}
body {
  font: 400 14px 'Open Sans', sans-serif;
  background: #fefecc;
}

a {
  font: 400 14px 'Open Sans', sans-serif;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

*:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.h2 {
  color: #f24343;
  font-family: 'Segoe';
  font-size: 35px;
  margin: 0;
}

/*  Header  */

.header {
  background: #ff0;
  padding: 10px 0;
}

.logo img {
  max-width: 100%;
}

.head_links {
  text-align: center;
  margin-top: 31px;
  padding-left: 37px;
}

.head_links a {
  border-radius: 3px;
  height: 36px;
  line-height: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  vertical-align: top;
}

.head_links a {
  padding: 9px 21px;
}

.head_links > a {
  margin-top: 13px;
  padding: 9px 38px;
  background: #e02c2c;
  background-image: -webkit-linear-gradient(bottom, #e02c2c 0%, #fb4f4f 100%);
  background-image: linear-gradient(to top, #e02c2c 0%, #fb4f4f 100%);
}

.head_links > a:hover {
  background-image: -webkit-linear-gradient(#e02c2c 0%, #fb4f4f 100%);
  background-image: linear-gradient(#e02c2c 0%, #fb4f4f 100%);
}

.top_head_links a:first-child {
  margin-right: 12px;
  background: #1b9f11;
  background-image: -webkit-linear-gradient(bottom, #1b9f11 0%, #2fe123 100%);
  background-image: linear-gradient(to top, #1b9f11 0%, #2fe123 100%);
}

.top_head_links a:last-child {
  background: #d5ee06;
  background-image: -webkit-linear-gradient(bottom, #d5ee06 0%, #fdfe3e 100%);
  background-image: linear-gradient(to top, #d5ee06 0%, #fdfe3e 100%);
  border: 1px solid #bfbf00;
  color: #000;
}

.top_head_links a:first-child:hover {
  background-image: -webkit-linear-gradient(bottom, #2fe123 0%, #1b9f11 100%);
  background-image: linear-gradient(to top, #2fe123 0%, #1b9f11 100%);
}

.top_head_links a:last-child:hover {
  background-image: -webkit-linear-gradient(#d5ee06 0%, #fdfe3e 100%);
  background-image: linear-gradient(#d5ee06 0%, #fdfe3e 100%);
}

.head_contacts {
  text-align: right;
  margin-top: 20px;
}

.tell a,
.email a {
  color: #010101;
  font-size: 19px;
  padding-left: 25px;
  margin-bottom: 12px;
  display: inline-block;
}

.tell a {
  background: url(../images/tell.png) no-repeat left center;
}

.email a {
  background: url(../images/email.png) no-repeat left center;
}

.social a {
  margin-left: 5px;
}

/* Header */
/* Nav */

.nav {
  -webkit-transition: .3s;
  transition: .3s;
  background: #199a0f;
  background-image: -webkit-linear-gradient(bottom, #199a0f 0%, #30e423 100%);
  background-image: linear-gradient(to top, #199a0f 0%, #30e423 100%);
}

.nav_in ul {
  list-style-type: none;
}

.nav_in ul li {
  float: left;
  padding: 0 25.3px;
  margin: 15px 0;
  border-right: 1px solid #72db6b;
  position: relative;
  z-index: 9999;
}

.nav_in ul li:after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  height: 15px;
  width: 100%;
}

.nav_in ul li:first-child {
  padding-left: 0;
}

.nav_in ul li:last-child {
  border-right: 0;
  padding-right: 0;
}

.nav_in ul li a {
  color: #fff;
  font-size: 15px;
}

.nav_in ul li a:hover {
  color: #ff0;
}

.nav_in > ul > li:hover .drop_menu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.drop_menu {
  position: absolute;
  top: 100%;
  margin-top: 15px;
  z-index: 9998;
  left: 0;
  min-width: 125%;
  background: #1b9f11;
  padding: 10px 0 10px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

.nav_in ul.drop_menu li {
  border: none;
  display: block;
  padding: 0 25px;
  margin: 12px 0;
  float: none;
}

.nav_fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: .5s;
  transition: .5s;
}

.slick-dots {
  position: absolute;
  width: 300px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}

.slick-dots li {
  list-style-type: none;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #70e557;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  margin: 0 4px;
}

.slick-dots li.slick-active {
  background: #f64848;
}

.toggle_menu_wrap {
  text-align: center;
  padding-top: 4px;
  display: none;
}

.toggle_menu_wrap p {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 400;
  color: #ff0;
  text-transform: uppercase;
  margin-left: 4px;
  margin-top: 4px;
}

.burger-menu {
  position: relative;
  width: 43px;
  height: 43px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.burger {
  position: absolute;
  background: #ffff00;
  width: 100%;
  height: 4px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
}

.burger::before {
  position: absolute;
  background: #ffff00;
  width: 43px;
  height: 4px;
  top: 10px;
  content: "";
  display: block;
}

.burger::after {
  position: absolute;
  background: #ffff00;
  width: 43px;
  height: 4px;
  bottom: 10px;
  content: "";
  display: block;
}

.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.burger-menu.menu-on .burger::after{
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
  bottom: 0px;
}

.burger-menu.menu-on .burger::before{
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
  top: 0px;
}

.burger-menu.menu-on .burger{
 background: rgba(111,111,111,.0);
}



/* Nav */
/* Carousel */


.carousel_in {
  margin-top: 15px;
  position: relative;
}

.carousel_in img {
  display: block;
  height: auto;
}

.carousel_in img {
  display: none;
}

.carousel_in img:first-child {
  display: block;
}

.slick-prev,
.slick-next {
  z-index: 9998;
  position: absolute;
  border: none;
  left: 10px;
  top: 50%;
  width: 39px;
  height: 39px;
  margin-top: -20px;
  background: url(../images/arrow.png) no-repeat center top;
}

.slick-next {
  position: absolute;
  left: auto;
  right: 10px;
  background: url(../images/arrow.png) no-repeat center bottom;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: .8;
}

/* Carousel */
/* About */

.about {
  padding: 65px 0 60px;
}

.about h2 {
  margin-bottom: 45px;
}

.about p {
  line-height: 1.5;
  margin-bottom: 12px;
  padding-right: 40px;
  opacity: .75;
}

.video img {
  max-width: 100%;
}


/* About */
/* News and feedbacks */

.news_feedback_head {
  text-align: right;
  margin-bottom: 36px;
}


.news_feedback_head a {
  float: left;
}

.news_feedback_head a:hover {
  text-decoration: underline;
  color: #f24343;
}

.news_feedback_head span {
  display: inline-block;
  text-align: right;
  margin-top: 19px;
}

.news_item {
  background: #fff;
  padding: 15px;
  border-bottom: 3px solid #f3f3c9;
  margin-bottom: 38px;
}

.news_img img {
  max-width: 100%;
}

.news_img {
  margin-bottom: 38px;
}

.news_item h3 {
  font-family: "Segoe";
  font-size: 22px;
  margin: 0;
  line-height: 1;
  margin-bottom: 7px;
}

.news_item span {
  font-size: 12px;
}

.news_item p {
  margin: 35px 0;
  line-height: 22px;
  opacity: .75;
  padding-right: 10px;
}

.news_btn {
  float: left;
}

.news_btn a {
  line-height: 100%;
  height: 40px;
  background: #1a9f10;
  background-image: -webkit-linear-gradient(bottom, #1a9f10 0%, #2ddb21 100%);
  background-image: linear-gradient(to top, #1a9f10 0%, #2ddb21 100%);
  border-radius: 3px;
  font-size: 15px;
  vertical-align: bottom;
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
}

.news_btn a:hover {
  background-image: -webkit-linear-gradient(#1a9f10 0%, #2ddb21 100%);
  background-image: linear-gradient(#1a9f10 0%, #2ddb21 100%);
  border-radius: 3px;
}

.news_social {
  float: right;
  margin-top: 6px;
  margin-bottom: 20px;
}

.news_social span {
  font-size: 13px;
  opacity: .66;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.news_social a {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.feedback_item {
  padding: 15px;
  background: #fff;
  border-bottom: 3px solid #f3f3c9;
  margin-bottom: 36px;
}

.feedback_author {
  display: inline-block;
  vertical-align: middle;
}

.feedback_author h4 {
  font-family: 'Segoe';
  font-size: 22px;
  margin: 0 0 8px 0;
}

.feedback_descr p {
  opacity: 0.75;
  line-height: 25px;
  margin: 30px 0 20px;
}

.see_more {
  text-align: center;
  margin: 10px 0 60px;
}

.see_more span {
  cursor: pointer;
  color: #fb3636;
  font: 700 16px 'Segoe';
  text-transform: uppercase;
  position: relative;
}

.see_more span:after {
  content: '';
  display: block;
  border: 6px solid transparent;
  border-top: 6px solid #fb3636;
  width: 10px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
}

/* News and feedbacks */
/* Footer */

.footer {
  background: #ff0;
  padding-top: 65px;
}

.footer_in {
  padding-bottom: 45px;
}

.footer_item {
  float: left;
  width: 20%;
}

.footer_item h3 {
  font: bold 14px 'Segoe';
  text-transform: uppercase;
  height: 67px;
  margin: 0;
}

.footer_item ul {
  list-style-type: none;
  padding-left: 0;
}

.footer_item ul li a {
  color: #000;
  line-height: 25px;
}

.footer_item ul li a:hover {
  text-decoration: underline;
}

.footer_item .tell a,
.footer_item .email a {
  font-size: 14px;
  font-weight: 400;
}

.footer_bottom {
  border-top: 1px solid #e5e500;
  background-color: #f2f200;
}

.copy {
  line-height: 60px;
  float: left;
}

.footer_social {
  float: right; 
  padding-top: 16px;
}

.footer_social a {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footer_social a img {
  height: 26px;
  width: 26px;
}

.footer_social span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/* Artists */

.bread {
  margin-top: 15px;
  padding-left: 15px;
}

.bread ul {
  margin-bottom: 0;
}

.bread ul li {
  display: inline-block;
}

.bread ul li a {
  color: #000;
}

.bread ul li a:hover {
  text-decoration: underline;
}

.artists_in h2,
.magics_in h2 {
  margin: 40px 0;
  padding-left: 15px;
}

.artists_in,
.magics_wrap {
  padding-bottom: 35px;
}

.artists_item a,
.magic_item a {
  color: #010101;
  font-size: 25px;
  font-family: 'Segoe';
  font-weight: normal;
  display: block;
}

.artists_item > a:hover,
.magic_item > a:hover {
  text-decoration: underline;
}

.artists_item {
  margin-bottom: 45px;
  text-align: center;
}

.art_img {
  position: relative;
}

.art_img:hover .artists_more {
  opacity: 1;
}

.artists_item img {
  vertical-align: bottom;
  max-width: 100%;
}

.artists_more {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.55);
  display: block;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.artists_more:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.artists_more span {
  color: #fffefe;
  font: bold 25px 'Segoe';
  display: inline-block;
  vertical-align: middle;
}

/* Artists */
/* Magics */

.magics_wrap {
  text-align: center;
}

.magic_item {
  text-align: center;
  margin-bottom: 40px;
  display: inline-block;
}

.magic_item img {
  border-radius: 50%;
  max-width: 100%;
}

.micromag_descr {
  margin: 35px 0 86px;
}

.magic_img {
  position: relative;
  display: inline-block;
}

.magic_img:hover .magin_hover {
  opacity: 1;
}

.magin_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: rgba(0,0,0,.54);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.magin_hover:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.magic_img span {
  color: #fffefe;
  font: bold 25px 'Segoe';
  display: inline-block;
  vertical-align: middle;
}

.micromag_descr img {
  border-radius: 50%;
  max-width: 100%;
}

.micromag_descr h2 {
  margin-bottom: 30px;
}

.micromag_descr p {
  line-height: 25px;
  opacity: .75;
}

.micromag_wr {
  text-align: center;
}

.micromag_wr {
  margin-bottom: 80px;
}

.micromag_wr img {
  max-width: 100%;
}

.micromag_wr h3 {
  font: normal 20px 'Segoe';
  color: #010101;
  margin: 8px 0 15px;
  display: block;
}

.micromag_wr a.micro_link {
  background: #1a9f10;
  background-image: -webkit-linear-gradient(bottom, #1a9f10 0%, #2ddb21 100%);
  background-image: linear-gradient(to top, #1a9f10 0%, #2ddb21 100%);
  border-radius: 3px;
  padding: 12px 24px;
  line-height: 100%;
  color: #fff;
  display: inline-block;
}

.micromag_wr a.micro_link:hover {
  text-decoration: none;
  background-image: -webkit-linear-gradient(#1a9f10 0%, #2ddb21 100%);
  background-image: linear-gradient(#1a9f10 0%, #2ddb21 100%);
}

/* Magics */
/* Person */

.person_descr h2 {
  margin-bottom: 38px;
}

.person_in {
  margin-top: 35px;
  margin-bottom: 80px;
}

.person_descr p {
  line-height: 25px;
  opacity: .75;
}

.person_share {
  margin-top: 25px;
}

.person_share > a {
  float: left;
  display: inline-block;
  padding: 12px 35px;
  color: #fff;
  border-radius: 3px;
  line-height: 100%;
  background: #e02c2c;
  background-image: -webkit-linear-gradient(bottom, #e02c2c 0%, #fb4f4f 100%);
  background-image: linear-gradient(to top, #e02c2c 0%, #fb4f4f 100%);
}

.person_share > a:hover {
  background-image: -webkit-linear-gradient(#e02c2c 0%, #fb4f4f 100%);
  background-image: linear-gradient(#e02c2c 0%, #fb4f4f 100%);
}

.person_social {
  float: right;
  margin-top: 2px;
}

.person_social p {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.person_social a {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.person_carousel {
  margin: 0 30px 75px;
  position: relative;
}

.person_carousel img {
  margin: 0 9px;
  height: auto;
  max-width: 100%;
}

.person_carousel .slick-prev,
.person_carousel .slick-next {
  width: 12px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -12px;
  z-index: 9999;
  background: url(../images/arrow2.png) no-repeat left center;
}

.person_carousel .slick-next {
  background: url(../images/arrow2.png) no-repeat right center;
  left: auto;
  right: -30px;
}